html,
body,
#page {
  height: 100%;
}
ul {
  padding: 0;
}
#page {
  background-color: #F2F2F2;
  position: relative;
}
main {
  min-height: 100%;
  padding-bottom: 100px;
  padding-top: 55px;
  max-width: 1214px;
  min-width: 480px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ddd;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
footer {
  width: 100%;
  height: 70px;
  margin-top: -70px;
  position: absolute;
  z-index: 10;
}
h1 {
  margin-bottom: 30px;
}
.copyright,
.last-update {
  padding: 0 15px;
}
.search-form-wrap {
  padding-bottom: 30px;
}
.col-empty {
  list-style-type: none;
  text-align: center;
  padding: 50px 0;
}
.entities-list li a {
  padding: 10px 20px;
  border: 1px solid #d9d9d9;
  border-bottom: none;
  display: block;
  background-color: #F2F2F2;
}
.entities-list li a:hover {
  text-decoration: none;
  background-color: #337ab7;
  color: #fff;
}
.entities-list li:last-child a {
  border-bottom: 1px solid #d9d9d9;
}
.preview {
  width: 300px;
  margin: 20px auto;
  padding: 15px 45px;
  border: 2px solid #ddd;
  background-color: #F2F2F2;
}
.preview h3 {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}
.spinner-wrap {
  min-height: 500px;
}
.last-update {
  text-align: center;
}
#section {
  clear: both;
}
